@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  margin: 0px;
}
p {
  margin: 4px;
}

code {
  font-family: monospace;
  font-size: 1rem;
  background-color: rgb(219, 219, 219);
  padding: 2px;
}

#api-status {
  margin-top: 100px;
  font-family: monospace;
  text-align: center;
  font-size: 1rem;
  background-color: rgb(219, 219, 219);
  padding: 10px;
}
.container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
      background-color: #1fc8db;
    background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);
    color: white;
    opacity: 0.95;

}
.topic-selector {
  margin-top: 20px;
}
.question-container {
  margin-top: 20px;
  display: none;
}
.question {
  margin-bottom: 20px;
}
.options {
  margin-top: 20px;
}
.option {
  display: inline-block;
  margin-right: 20px;
}
.score-container {
  margin-top: 20px;
  display: none;
}